@import 'variables';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  .content {
    flex-grow: 1;
  }

  footer {
    height: 110px;

    div {
      height: 100%;
      display: flex;

      span {
        display: block;
        margin: auto;
        width: 207px;
        font-family: Ubuntu;
        font-size: 14px;
        line-height: 1.43;
        text-align: center;
        color: $cg-deep-purple;
      }
    }

    background-color: $cg-very-light-pink;
  }
}
