<div class="input-wrapper">
  <span *ngIf="label" class="label"
    >{{ label }}<span *ngIf="required" class="label__required"> * </span>
  </span>
  <input
    #input
    class="input"
    (input)="onUserInput($event)"
    (change)="onUserInput($event)"
    type="text"
  />
  <div class="search" *ngIf="opened">
    <div class="autocomplete">
      <ul class="sub-list" *ngIf="filteredList.length">
        <li
          *ngFor="let option of filteredList"
          (click)="selectOption(option)"
          (keyup.Enter)="selectOption(option)"
          tabindex="0"
        >
          {{ option.country }}, {{ option.office }}
        </li>
      </ul>
    </div>
  </div>
</div>
