$cg-blue: #0070ad;
$cg-vibrant-blue: #12b3db;
$cg-deep-purple: #2b0a3b;
$cg-tech-red: #ff304c;
$cg-zest-green: #95e616;
$cg-white: #ffffff;
$cg-black: #000000;
$cg-very-dark-grey: #666666;
$cg-dark-grey: #aba9a9;
$cg-grey: #ececec;
$cg-very-light-pink: #f3f3f3;
$cg-light-grey: #f8f8f8;

$cg-font-family: Ubuntu, Verdana, sans-serif;

$ssc-gutter: 1rem;
$ssc-app-header-height: 4.75rem;
$ssc-dialog-header-height: 22.75rem;

$navigation-height: 75px;
