<sd-app-header></sd-app-header>
<div class="section section--heading log-in">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to skilldating!</h1>
    </div>
  </div>
  <div class="row row--grow">
    <div class="col-12 section__text">
      <span>A platform made to find and meet your skilled colleagues. </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a class="section__button" (click)="goToLogIn()">Log in</a>
    </div>
  </div>
</div>
<div class="section create-account">
  <div class="row">
    <div class="col-12 text-center">
      <span class="section__title">Don’t have an account yet?</span>
    </div>
  </div>
  <div class="row row--grow">
    <div class="col-12 text-center section__text">
      <span>
        Sign up with your corporate email and search for your colleagues with
        specific skills!
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a class="section__button" (click)="goToCreateAccount()">Create account</a>
    </div>
  </div>
</div>
