@import "variables";

:host {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.5rem 1rem;

  span {
    cursor: pointer;
    padding-right: 1rem;
    font-size: 2rem;
    color: $cg-white;
  }

  ui-input {
    width: 100%;
  }
}

:host(.dark-theme) {
  background-color: $cg-deep-purple;

  span {
    color: $cg-white;
  }
}
