@import "variables";

:host {
  display: flex;
  flex-direction: row;
  align-items: center;

  section {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    button {
      cursor: pointer;
      border: 0;
      background-color: transparent;
      color: $cg-blue;
      font-size: 16px;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: right;
    }
    span.filler {
      flex-grow: 1;
    }
    span.name {
      color: $cg-blue;
      font-weight: bold;
    }
  }

  span.placeholder {
    flex: 1 1 auto;
  }
}
