@import "variables";
:host {
  .section--heading {
    background-color: $cg-deep-purple;
    padding-top: 0;

    sd-back-button {
      margin-top: 1.375rem;
    }
  }
  .section__field {
    padding-top: 16px;
    :not(:last-child) {
      padding-bottom: 24px;
    }
    span {
      display: flex;
    }
  }
  .label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: normal;
    color: #666666;
  }
  h4 {
    color: $cg-deep-purple;
  }

  .teams-icon,
  .skype-icon,
  .email-icon,
  .phone-icon {
    margin-right:4px;
    background-color: red;
    height: 20px;
    width: 20px;
  }
}
