<div class="section section--heading">
  <sd-back-button class="col-12" (click)="goToPrevPage()"></sd-back-button>
  <div class="row">
    <div class="col-12 text-center">
      <ui-avatar
        class="text-center"
        initial="{{ profile.getInitials() }}"
        big="true"
      ></ui-avatar>
    </div>
    <div class="col-12 text-center">
      <h3>{{ profile.getFullName() }}</h3>
    </div>
  </div>
  <div class="row row--grow">
    <div class="col-12 section__text text-center">
      <span> {{ profile.getOfficeLocation() }}</span>
    </div>
  </div>
</div>
<div class="section">
  <div class="row">
    <div class="col-12">
      <h4>My skills</h4>
      <div class="section__field section__field__skills">
        <span
          class="value skill-list"
          *ngIf="profile.skills?.length; else empty"
        >
          <sd-skill-list
            [skills]="profile.skills"
            dark="true"
            disabled="true"
          ></sd-skill-list>
        </span>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 section__text">
      <h4>Contact my</h4>
      <div class="section__field">
        <span>
          <span class="email-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="11" viewBox="0 0 16 11">
            <g fill="none" fill-rule="evenodd">
                <g fill="#0070AD">
                    <g>
                        <g>
                            <g>
                                <path d="M7.297 5.486c.457.37 1.125.37 1.582 0L15.508.088C15.385.035 15.262 0 15.12 0H1.055C.915 0 .79.035.668.088l6.629 5.398z" transform="translate(-16 -597) translate(16 588) translate(0 9)"/>
                                <path d="M9.564 6.33c-.421.351-.949.527-1.476.527-.528 0-1.055-.176-1.477-.527L.176 1.09v8.58c0 .493.386.88.879.88H15.12c.492 0 .879-.387.879-.88V1.09L9.564 6.33z" transform="translate(-16 -597) translate(16 588) translate(0 9)"/>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        </span>
          <a class="email-link" href="mailto:{{ profile.getEmail() }}">
            {{ profile.getEmail() }}
          </a></span
        >
      </div>
      <div class="section__field">
        <span>
          <span class="phone-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="16" viewBox="0 0 13 16">
              <defs>
                  <filter id="vluwb0cp8a">
                      <feColorMatrix in="SourceGraphic" values="0 0 0 0 0.000000 0 0 0 0 0.439216 0 0 0 0 0.678431 0 0 0 1.000000 0"/>
                  </filter>
              </defs>
              <g fill="none" fill-rule="evenodd">
                  <g transform="translate(-18 -636) translate(16 588) translate(2 42) translate(0 6)">
                    <path fill="#0070AD" d="M3.122 5.172c1.101-.2 2.353-.7 2.153-1.752C4.875 1.618 3.923.217 3.273.116 1.92-.034.22 2.018.069 2.62c-.75 3.503 4.805 12.363 8.259 13.263.65.15 3.203-.55 3.654-1.802.25-.6-.65-2.102-2.052-3.203-.901-.7-1.902.25-2.503 1.1-1.352-.55-4.404-5.455-4.304-6.806z"/>
                  </g>
              </g>
          </svg>
          
          </span>
          <a
            *ngIf="profile.phoneNo; else empty"
            class="phone-link"
            href="tel:{{ profile.phoneNo }}"
          >
            {{ profile.phoneNo }}
          </a></span
        >
      </div>
      <div class="section__field">
        <span>
          <span class="skype-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
              <g fill="none" fill-rule="evenodd">
                  <g fill="#0070AD">
                      <path d="M11.723 15.979c-.922.002-1.819-.299-2.553-.857-2.245.347-4.522-.397-6.129-2.004C1.434 11.511.691 9.235 1.037 6.99.107 5.902-.21 4.42.195 3.046.6 1.674 1.673.6 3.045.193c1.372-.406 2.857-.09 3.944.839 2.252-.348 4.534.4 6.14 2.015 1.608 1.615 2.346 3.9 1.988 6.15.641.842.943 1.894.845 2.948-.098 1.054-.587 2.032-1.372 2.743-.785.71-1.808 1.1-2.867 1.09zm-2.255-1.995l.197.17c.812.706 1.928.95 2.961.648 1.033-.303 1.841-1.11 2.144-2.144.302-1.033.058-2.149-.648-2.961l-.17-.197.048-.255c.374-1.968-.247-3.993-1.66-5.413-1.413-1.418-3.435-2.049-5.404-1.683l-.271.053-.197-.197c-.8-.784-1.957-1.086-3.04-.792-1.082.294-1.927 1.139-2.22 2.221-.294 1.082.007 2.239.792 3.04l.197.201-.048.261c-.375 1.972.25 4.002 1.669 5.422 1.42 1.419 3.45 2.044 5.421 1.669l.23-.043z" transform="translate(-16 -679) translate(16 588) translate(0 84) translate(0 7)"/>
                  </g>
              </g>
          </svg>
          </span>
          <a
            *ngIf="profile.phoneNo; else empty"
            class="skype-link"
            [href]="'sip:' + profile.getEmail() + '?chat' | safeUrl"
          >
            Skype
          </a></span
        >
      </div>
      <div class="section__field">
        <span>
          <span class="teams-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewBox="0 0 19 17">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(-15 -720) translate(16 588) translate(0 126) translate(0 7)">
                    <path stroke="#0070AD" stroke-linecap="round" stroke-linejoin="round" stroke-width=".759" d="M7.585 11.757H.76c-.42 0-.759-.34-.759-.758V4.172c0-.42.34-.759.759-.759h6.826c.42 0 .759.34.759.759v6.827c0 .419-.34.758-.759.758z"/>
                    <path fill="#0070AD" fill-rule="nonzero" d="M6.068 5.31L2.276 5.31 2.276 6.068 3.793 6.068 3.793 9.861 4.551 9.861 4.551 6.068 6.068 6.068z"/>
                    <path stroke="#0070AD" stroke-linecap="round" stroke-linejoin="round" stroke-width=".759" d="M7.131 3.413c-.194-.334-.304-.723-.304-1.137C6.827 1.019 7.845 0 9.102 0s2.276 1.019 2.276 2.276c0 1.256-1.019 2.275-2.276 2.275-.266 0-.52-.045-.758-.13"/>
                    <circle cx="14.791" cy="3.034" r="1.517" stroke="#0070AD" stroke-linecap="round" stroke-linejoin="round" stroke-width=".759"/>
                    <path stroke="#0070AD" stroke-linecap="round" stroke-linejoin="round" stroke-width=".759" d="M12.895 6.068h4.172v4.362c0 1.361-1.104 2.465-2.466 2.465h0c-.662 0-1.263-.261-1.706-.687M8.344 6.068h4.55v5.689c0 2.095-1.697 3.793-3.792 3.793h0c-2.094 0-3.792-1.698-3.792-3.793"/>
                </g>
              </g>
          </svg>
          
          </span>
          <a
            class="teams-link"
            href="https://teams.microsoft.com/l/chat/0/0?users={{
              profile.getEmail()
            }}"
          >
            Teams
          </a>
        </span>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 section__text">
      <h4>About me</h4>
      <div class="section__field">
        <span class="label">Summary</span>
        <span class="value" *ngIf="profile.description; else empty">
          {{ profile.description }}
        </span>
      </div>
    </div>
  </div>
  <ng-template #empty> - </ng-template>
</div>
