<div class="section section--heading log-in">
  <div class="row">
    <div class="col-12 text-center">
      <ui-avatar class="text-center"
        initial="SS"
        big="true"
      ></ui-avatar>
    </div>
    <div class="col-12 text-center">
      <h3>Marek Matczak</h3>
    </div>
  </div>
  <div class="row row--grow">
    <div class="col-12 section__text text-center">
      <span>marek.matczak@capgemini.com</span>
    </div>
  </div>
</div>
<div class="section">
  <div class="row">
    <div class="col-12">
      <h4>Your skills</h4>
      <div class="section__field">
        <span>-</span>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 section__text">
      <h4>Contact</h4>
      <div class="section__field">
        <span>Phone number</span>
        <span>-</span>
      </div>
      <div class="section__field">
        <span>Location</span>
        <span>-</span>
      </div>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-12 section__text">
      <h4>About you</h4>
      <div class="section__field">
        <span>Position</span>
        <span>-</span>
      </div>
      <div class="section__field">
        <span>Summary</span>
        <span>-</span>
      </div>
    </div>
  </div>
</div>
