<sd-search-input [darkTheme]="true"
                 placeholder="Search for skill or person"
                 [query]="query$ | async"
                 (queryChange)="updateUrlParam($event)"
                 (backClick)="goToHomeDialog()"></sd-search-input>
<section class="results">
  <sd-result-view-types [selected]="resultViewType$ | async"
                        (selectedTypeChange)="updateUrlFragment($event)"></sd-result-view-types>
  <sd-result-list *ngIf="matchingResults$ | async as results"
                  [skills]="results.skills"
                  [userProfiles]="results.userProfiles"
                  [show]="resultViewType$ | async"
                  [popularSkills]="skillPopularity"
                  (userProfileClick)="goToProfileDialogOf($event)"
                  (skillClick)="goToSearchProfilesDialog($event)"></sd-result-list>
</section>
