:host {
  display: block;

  section.results {
    padding: .75rem 1rem;

    sd-result-list {
      margin-top: 1.25rem;
    }
  }

  sd-recent-and-popular-skills {
    margin: 2.25rem 1rem 0;
  }
}
