<sd-search-input
  placeholder="Search for skill"
  [query]="query$ | async"
  (queryChange)="updateQueryUrlParamOnNewValue($event)"
  (backClick)="goToPreviousDialog()"
></sd-search-input>
<sd-skill-list
  [skills]="selectedSkills$ | async"
  (removeSkillClick)="removeSkillAndUpdateSelectedSkillsUrlParam($event)"
  dark="true"
></sd-skill-list>
<section class="results">
  <sd-profile-result-list *ngIf="matchingSkillsAndNewSkill$ | async as matchingSkillsAndNewSkill"
    [skills]="matchingSkillsAndNewSkill.matchingSkills"
    [newSkill]="matchingSkillsAndNewSkill.newSkill"
    (addSkillButtonClick)="updateSelectedSkillsUrlParam($event)"
    (addNewSkillButtonClick)="createNewSkillAndUpdateSelectedSkillsUrlParam($event)"
  ></sd-profile-result-list>
</section>
<section class="add-skills text-center">
  <button
    class="button button--big button--inverted item-title"
    (click)="addSelectedSkills()"
  >
    Add selected skills
  </button>
</section>
