@import "variables";
:host {
  a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  .add-profile-skill-menu {
    background-color: #0070ad;
    display: flex;
    align-items: center;
  }
  section.selected-skills {
    display: flex;
    padding: 6px 20px;
    padding-bottom: 0;
    flex-wrap: wrap;
    sd-chip {
      margin-top: 10px;
    }
  }
  section.results {
    padding: 0.75rem 1rem;
  }
}
