<sd-search-input
  placeholder="Search for skill"
  [query]="query$ | async"
  (queryChange)="updateUrlParam($event)"
  (backClick)="goToPreviousDialog()"
></sd-search-input>
<sd-skill-list
  [skills]="currentSkills"
  (removeSkillClick)="removeSkill($event)"
  dark="true"
></sd-skill-list>
<section class="results">
  <sd-profile-result-list
    [skills]="matchingSkills$ | async"
    [query]="query$ | async"
    [newSkillAllowed]="newSkillAllowed$ | async"
    (addSkillButtonClick)="addSkillToList($event)"
    (addNewSkillButtonClick)="addNewSkillToList($event)"
  ></sd-profile-result-list>
</section>
<section class="add-skills text-center">
  <button class="button button--big button--inverted" (click)="addSelectedSkills()">
    Add selected skills
  </button>
</section>
