<div class="profile-menu">
  <span class="profile-menu__close"><a (click)="goToPrevPage()">X</a></span
  ><span class="profile-menu__filler"></span
  ><span class="profile-menu__edit"><a routerLink="./edit"> Edit</a></span>
</div>

<div class="section section--heading log-in">
  <div class="row">
    <div class="col-12 text-center">
      <ui-avatar
        class="text-center"
        initial="{{ profile.getInitials() }}"
        big="true"
      ></ui-avatar>
    </div>
    <div class="col-12 text-center">
      <h3>{{ profile.getFullName() }}</h3>
    </div>
  </div>
  <div class="row row--grow">
    <div class="col-12 section__text text-center">
      <span>
        {{ profile.getEmail() }}
      </span>
    </div>
  </div>
</div>
<div class="section">
  <div class="row">
    <div class="col-12">
      <h4>Your skills</h4>
      <div class="section__field section__field__skills">
        <span
          class="value skill-list"
          *ngIf="profile.skills?.length; else empty"
        >
          <sd-skill-list
            [skills]="profile.skills"
            dark="true"
            disabled="true"
          ></sd-skill-list>
        </span>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 section__text">
      <h4>Contact</h4>
      <div class="section__field">
        <span class="label">Phone number</span>
        <span *ngIf="profile.phoneNo; else empty">
          {{ profile.phoneNo }}
        </span>
      </div>
      <div class="section__field">
        <span class="label">Location</span>
        <span
          class="value"
          *ngIf="profile.getOfficeLocation() as location; else empty"
        >
          {{ location }}
        </span>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 section__text">
      <h4>About you</h4>
      <div class="section__field">
        <span class="label">Summary</span>
        <span class="value" *ngIf="profile.description; else empty">
          {{ profile.description }}
        </span>
      </div>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-12 section__text">
      <a (click)="logOut()">Log out</a>
    </div>
  </div>
</div>
<ng-template #empty> - </ng-template>
