<div class="overlay">
  <div class="overlay__content section">
    <div class="row">
      <div class="col-12">
        <h1>Welcome!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 section__text">
        <span>
          Great to have you at skilldating! Configure your profile so that
          others can find you easily.
        </span>
      </div>
    </div>
    <div class="row row--grow">
      <div class="col-12 section__text">
        <span> You can always do it later in your profile settings area. </span>
      </div>
    </div>
    <div class="row configure-profile">
      <div class="col-12 text-center">
        <a class="button button--big section__button" (click)="configureProfileClick()"
          >Configure profile</a
        >
      </div>
    </div>
    <div class="row fill-profile-leter">
      <div class="col-12 text-center">
        <a class="button button--big section__button" (click)="configureLaterClick()">Later</a>
      </div>
    </div>
  </div>
</div>
