<div class="profile-menu">
  <sd-back-button (click)="goBack()"></sd-back-button>
  <span class="profile-menu__filler">Edit Profile</span>
  <span class="profile-menu__edit"><a (click)="save()"> Save</a></span>
</div>

<div class="section">
  <div class="row">
    <div class="col-12 text-center">
      <ui-avatar
        class="text-center"
        initial="{{ profile.initials }}"
        big="true"
      ></ui-avatar>
    </div>
    <div class="col-12 text-center">
      <span>
        <ui-input
          label="Name and surname"
          required="true"
          value="{{profile.firstName}} {{profile.lastName}}"
          [disabled]="true"
        ></ui-input
        ></span>
      <small>Your name is taken from your email and can't be edited.</small>
    </div>
  </div>
</div>
<hr/>
<div class="section" [formGroup]="formGroup">
  <div class="row">
    <div class="col-12">
      <h4 class="skills-label">
        <span>Your skills</span>
        <span class="filler"></span>
        <button class="button" (click)="goToAddSkill()">+ Add</button>
      </h4>
      <div class="section__field">
        <sd-skill-list
          [skills]="formGroup.get('skills')?.value"
          (removeSkillClick)="removeSkill($event)"
          dark="true"
        ></sd-skill-list>
        <span *ngIf="!formGroup.get('skills')?.value?.length"> -</span>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-12 section__text">
      <h4>Contact</h4>
      <div class="section__field">
        <span>
          <ui-input label="Phone number" formControlName="phoneNo"></ui-input>
          <ui-validation-feedback
            [control]="formGroup.get('phoneNo')"
          ></ui-validation-feedback
          ></span>
      </div>
      <div class="section__field">
        <span>
          <ui-select
            label="Location"
            [options]="locations"
            formControlName="officeLocation"
          ></ui-select>
        </span>
      </div>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-12 section__text">
      <h4>About you</h4>
      <div class="section__field">
        <span>
          <ui-textarea
            label="Summary"
            placeholder="Write a few sentences about you so that people can get to know you better."
            formControlName="description"
          ></ui-textarea>
          <ui-validation-feedback
            [control]="formGroup.get('description')"
          ></ui-validation-feedback
          ></span>
      </div>
    </div>
  </div>
</div>
