@import "variables";
:host {
  .section {
    display: flex;
  }
  .profile-menu {
    display: flex;
    height: $navigation-height;
    width: 100%;
    padding: 28px 20px;
    background-color: #0070ad;
    .profile-menu__filler {
      flex-grow: 1;
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
    }
    .profile-menu__edit {
      justify-content: flex-end;
      font-size: 16px;
      letter-spacing: normal;
      align-content: flex-end;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .section--heading {
    background-color: $cg-blue;
    padding-top: 0;
  }
  .section__field {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    margin: 8px 0;
    span {
      display: block;
    }
  }
  h4 {
    color: $cg-blue;
  }
  .skills-label {
    display: flex;
    align-items: center;
    .filler {
      flex-grow: 1;
    }
  }
}
