@import 'variables';

:host {
  position: relative;



  section {
    background-color: $cg-white;
    transition: margin-top .5s ease 0s;
    top: 240px;

    &.moving-top {
      margin-top: -225px;
      z-index: 100;
    }
  }
}
