<sd-app-header></sd-app-header>
<div class="section section--heading hello">
  <div class="row">
    <div class="col-12">
      <h1>Hi you!</h1>
    </div>
  </div>
  <div class="row row--grow">
    <div class="col-12 section__text">
      <span>What are you looking for today?</span>
    </div>
  </div>
</div>
<section [class.moving-top]="movingTop">
  <div class="section search">
    <div class="row">
      <div class="col-12">
        <ui-input
          placeholder="Enter skill, person or location..."
          (click)="goToTopSearch()"
        ></ui-input>
      </div>
    </div>
    <sd-recent-and-popular-skills [popularSkills]="skills" (skillClick)="goToSearchProfilesDialog($event)"></sd-recent-and-popular-skills>
  </div>
</section>
<ui-overlay
  *ngIf="overlayShown "
  (configureLater)="configureLater()"
  (configureProfile)="goToConfigureProfile()"
></ui-overlay>
