<sd-search-input [darkTheme]="true"
                 placeholder="Search for skill"
                 [query]="query$ | async"
                 (queryChange)="updateUrlParam($event)"
                 (backClick)="goToPreviousDialog()"></sd-search-input>
<section class="results">
  <sd-result-list [skills]="matchingSkills$ | async"
                  [addSkillButton]="true"
                  (addSkillButtonClick)="goToSearchProfilesDialog($event)"
                  [popularSkills]="skillPopularity"></sd-result-list>
</section>
